.lostNFound {
  .input-form1 {
    text-align: left;
    padding: 0px;
    margin-left: 80px;
  }
  .lostNFound h5 {font-size: 16px; font-weight: bold;}
  .g-recaptcha iframe {
    width: 181px;
    border-right: 1px solid #c6c6c6;
    border-radius: 5px;
  }
.datePosition {
  position: absolute;
    right: 0%;
    top: 10%;
}
.openDatePosition {
  z-index: 1;
  position: absolute;
  left: 0%;
  top: 100%;

}
.errMessage {
  position: absolute;
}
.lostDetailDesc {
  margin-top: 15px;
}
  .floating-label-group{  
    background-color: #ffff;
   }

  textarea.form-control {
    height: 40px;
  }
  .g-recaptcha div {
    width: 100%;
    text-align: -webkit-center;
  }


  

  .inputAni .form-control:not(:placeholder-shown) + label,
  .inputAni .form-control:not(:placeholder-shown) + label {
    visibility: visible;
    opacity: 1;
    top: 0px !important;
    color: #444;
    font-size: 14px;
    font-weight: bold;
  }

  .inputAni .form-control:placeholder-shown + label {
    opacity: 0;
  }
  .custLabel {
    position: absolute;
    top: 0px;
    transition: all 0.2s;
    visibility: hidden;
  }

  .inputAni {
    position: relative;
  }

  
  .ltr-none {
    border-bottom: 1.5px solid #a5a4a4;
    border-radius: 0px;
    font-size: inherit;
  }

  .ltr-none:focus {
    border-color: #1d7c4b;
  }

  .input-form2 {
    text-align: left;
    padding: 0px;
  }

  .lnf-form {
    margin-right: 6rem;
    margin-left: 6rem;
  }

  .char-count {
    font-size: 14px;
    font-weight: 400;
  }

  .lnf-title {
    top: -20px;
    left: 8px;
    color: #444;
    font-size: 14px;
  }

  .input-area {
    margin-right: 80px;
    margin-left: 80px;
  }

  .input-label {
    font-weight: 500;
  }

  .shipping-details {
    margin-left: 80px;
    margin-right: 80px;
  }

  @media screen and (max-width: 767px) {
    .input-form1,
    .input-form2,
    .shipping-details,
    .contact-details {
      margin: 0px;
    }
    .datePosition {
      top: 10px;
      bottom: 0;
      margin: auto;
  }
    .lnfMobView {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 20px !important;
    }
    .input-area {
      margin: 0px;
      margin-bottom: 10px;
    }

    .pt-xs-20 {
      padding: 0 20px;
    }
    .lnf-form {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    .ltr-none {
      // padding: 0px;
      margin-top: 10px;
    }
    .selectLostType {
      padding: 0px;
    }
    .custLabel {
      margin-top: 10px;
    }
    // .lnfDate {
    //   align-items: flex-end;
    // }
    // .lnfD1 {
    //   margin-bottom: 25px;
    // }
    .cEmail {
      margin-top: 35px;
    }
    .cEmailDiv {
      padding-top: 0px !important;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .rounded {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .rounded {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
    .lnf-form {
      margin-right: 3rem;
      margin-left: 3rem;
    }
    .lnfIpad {
      display: flex;
      justify-content: center;
    }

  }
}
