.Entertainmen-style{

  .carousel-indicators{
    display: none !important;
  }
  .fndQQZ{
         border-bottom: none !important; 
   border-top: none !important;
  }
  .E-title-color{
    color: #80461b;
  }
  .biOzEC{
    height: auto;
  }
  .carousel-control-next{
    background-color: #2a633c !important;
}
.carousel-control-prev{
    background-color: #2a633c !important;
}
.carousel-inner {
    position: relative;
    width: 85%;
    overflow: hidden;
    margin: 0px auto;
}
.carousel-control-prev {
    position: absolute;
    width: 6% !important;
    height: 102px !important;
    top: 35%;
    opacity: 1;
}
.carousel-control-next {
    position: absolute;
    width: 6% !important;
    height: 102px !important;
    top: 35%;
    opacity: 1;
}
}