.cardTitle {
  font-size: 20px;
}

.home-readmore-btn {
  padding: 10px !important;
}

.floatL {
  float: left;
}

.forGrid {
  width: 33%;
  float: none;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  vertical-align: top;
}
